.namecardtext DING
a.namecard(href="http://www.ncyu.edu.tw/etech/" target="_blank" )
  h2.name 丁美佐
    span.little_eng (Ding)
  h5.job 嘉義大學 數位學習科技與管理學系
  hr
  p.description 努力成為一個能夠自主學習與成長的不專業斜槓大學生。
  .circle.circle1
  .circle.circle2
h3 
